body{
    background-color: whitesmoke;
    font-family: fantasy;
    color: black;
    text-align: center;
    font-size: 20px;
}
#info img, #info h1{
    display: inline-block;
    color: red;
    
}
#info img{
    max-width: 50px;
    max-height: 50px;
}
nav{
    position: absolute;
    list-style:none;
    text-align:center;
    margin-top: 0px;
    background: darkblue;
    padding: 15px;
    width: 1857px;
}
nav ul{
    
    display:inline;
    
}
nav li{
    color: white;
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    font-size: 20px;
}
a:link, a:visited{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#app{
    margin-top: 100px;
    margin-left: 575px;

}
#superdog{
    position: absolute;
    margin-top: 125px;
    margin-left: 75px;
    float: left;
}
#supercat{
    float: right;
    position: relative;
    margin-top: 125px;
    margin-right: 75px;
    
}
footer{
    position: absolute;
    background-color: darkblue;
    width: 99%;
    height: 100px;
    margin-top: 300px;
    color: whitesmoke;

}